body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline pink;
}
.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

img {
    width: 100px;
    /* border: 1px solid red; */
}
p{
    text-align: center;
}